# Minimal package to use dcase2020 task2 baseline.
matplotlib==3.4.2
llvmlite==0.36.0
numpy==1.20.3
PyYAML==6.0
scikit-learn==0.24.2
sklearn==0.0
scipy==1.6.3
setuptools==65.6.3
tqdm==4.65.0
timm==0.4.5
torch==1.9.1
torchaudio==0.9.1
torchvision==0.10.1
numba==0.53.1
wget==3.2
zipp==3.4.1